<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Veritabanı bağlantısı -->
	<connectionStrings>
		<add name="MuzeDB"
			 connectionString="Data Source=DESKTOP-1LQQS16\SQLEXPRESS;Initial Catalog=Museum;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Uygulama ayarları (gerekiyorsa) -->
	<appSettings>
		<!-- Örnek: <add key="Theme" value="Light" /> -->
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

</configuration>
